html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    animation: spin 10s linear infinite; /* Applies the spin animation */
    padding: 0px !important;
    margin: 0px !important;
}

.nav-link:hover {
    transform: scale(1.3);
    transition: 0.5s;
    background: gray;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}